<div data-role='collapsible' data-collapsed='false' data-theme='a'>
	<h3>Date Range</h3>
	<div data-role='fieldcontain'>
		<label for='fromPicker'>From</label>
		<input type='text' name='from' id='fromPicker' />
	</div>
	<div data-role='fieldcontain'>
		<label for='toPicker'>To</label>
		<input type='text' name='from' id='toPicker' />
	</div>
</div>
<div data-role='collapsible' data-collapsed='true' data-theme='a'>
	<h3>Type of Disaster</h3>
	<div data-role='fieldcontain'>
		<fieldset data-role='controlgroup'>	
			<input type='checkbox' name='disaster_type' id='disaster_1' class=' custom' />
			<label for='disaster_1'>Water Disaster</label>
			<input type='checkbox' name='disaster_type' id='disaster_2' class=' custom' />
			<label for='disaster_2'>Landslide Disaster</label>
			<input type='checkbox' name='disaster_type' id='disaster_3' class=' custom' />
			<label for='disaster_3'>Flood Disaster</label>
			<input type='checkbox' name='disaster_type' id='disaster_4' class=' custom' />
			<label for='disaster_4'>Fire Disaster</label>
		</fieldset>
	</div>
</div>
<button class='btn-submit'>SEARCH</button>