<div data-role='collapsible' data-collapsed='false' data-theme='a'>
	<h3>Date Range</h3>
	<div data-role='fieldcontain'>
		<label for='fromPicker'>From</label>
		<input name="fromPicker" id="fromPicker" type="text" data-role="datebox" data-options='{"mode": "calbox"}' style='color:#FFF;'>
	</div>
	<div data-role='fieldcontain'>
		<label for='toPicker'>To</label>
		<input name="toPicker" id="toPicker" type="text" data-role="datebox" data-options='{"mode": "calbox"}' style='color: #FFF;'>
	</div>
</div>
<div data-role='collapsible' data-collapsed='true' data-theme='a'>
	<h3>Type of Disaster</h3>
	<div data-role='fieldcontain'>
		<fieldset data-role='controlgroup' id='disaster-field-set'>	
		
		</fieldset>
	</div>
</div>
<div data-role='collapsible' data-collapsed='true' data-theme='a'>
	<h3>Province</h3>
	<div data-role='fieldcontain'>
		<fieldset data-role='controlgroup' id='province-field-set'>	
			
		</fieldset>
	</div>
</div>
<div data-role='collapsible' data-collapsed='true' data-theme='a'>
	<h3>Location</h3>
	<div data-role='fieldcontain'>
		<fieldset data-role='controlgroup' id='location-field-set'>	
			
		</fieldset>
	</div>
</div>
<button class='btn-submit' id='locSearchBtn'>SEARCH</button>
